# Server
PORT=3000

# Redis (local Docker)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Uncomment below if using Upstash
# REDIS_HOST=your-instance.upstash.io
# REDIS_PORT=6380
# REDIS_PASSWORD=your-upstash-password
